body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 5px gray;
}

#control-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    width: 90%;
    max-width: 1000px;
}

section {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 1em;
    flex: 1 1 300px;
    box-shadow: 2px 2px 5px silver;
}

h2 {
    color: darkslateblue;
    margin-top: 0;
}

button {
    background-color: saddlebrown;
    color: white;
    border: 1px solid white;
}

button:hover {
    background-color: tan;
    color: black;
    border: 1px solid white;
}

input {
    display: block;
    width: 100%;
    border: 1px solid saddlebrown;
    border-radius: 4px;
    background-color: white;
}

#categories-out,
#jokes-of-category-out
#random-joke-out
{
    border: 1px solid saddlebrown;
    border-radius: 5px;
    background-color: white;
}

#random-joke-out {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}